@model (List<SelectListItem> categories, List<SelectListItem> brands)

<div class="container">
	<div class="row d-flex">
		<div class="col">
			<div id="searchInputsContainer" class="container w-25 bg-white border-end mx-0">
				<div class="row border-bottom">
					<div class="col border-end p-2">
						<label for="category" class="form-label">Категорія для пошуку:</label>
						<select asp-items="@Model.categories" class="form-control" id="category">
							<option value="0">Не вказано</option>
						</select>
					</div>
					<div class="col p-2">
						<label for="brand" class="form-label">Бренд товарів:</label>
						<select asp-items="@Model.brands" class="form-control" id="brand">
							<option value="0">Не вказано</option>
						</select>
					</div>
				</div>
				<div class="row border-bottom">
					<div class="col border-end p-2">
						<label for="maxPrice" class="form-label">Макс. ціна:</label>
						<input type="number" class="form-control" id="maxPrice" />
					</div>
					<div class="col p-2">
						<label for="minPrice" class="form-label">Мін. ціна:</label>
						<input type="number" class="form-control" id="minPrice" />
					</div>
				</div>
				<div class="row border-bottom">
					<div class="col p-2">
						<label for="query" class="form-label">Пошук за назвою:</label>
						<input type="text" class="form-control" id="query" />
					</div>
				</div>
				<div class="row">
					<div class="col p-2">
						<button id="searchButton" class="btn btn-outline-primary w-25">Пошук</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12" id="productsContainer"></div>
	</div>
</div>

<button id="loadMore" class="btn btn-outline-secondary w-100">Завантажити ще</button>

@section scripts {
	<script type="text/javascript" src="~/js/search.js"></script>
}