@model (List<SelectListItem> categories, List<SelectListItem> brands, int chosenCategory)

<partial name="_Header" model="(Model.categories, Model.brands, true)" />

<div id="productsContainer"></div>
<button id="loadMore" class="btn btn-outline-secondary w-100">Завантажити ще</button>

@section scripts {
	<script type="text/javascript" src="~/js/categories.js"></script>
	<script type="text/javascript" src="~/js/search.js"></script>
}