@model AboutUsVM

<div style="background: #EEEFCF" class="d-flex w-100">
	<img width="882" height="700" class="mx-auto" src="/resources/recycling.png"/>
</div>

<div class="d-flex flex-column mx-5">
	<div class="mt-5">
		<h1 class="fw-bold">ПОПУЛЯРНІ РУБРИКИ</h1>
		<div class="d-flex flex-row flex-wrap justify-content-center mt-4">
			@foreach(var category in Model.PopularCategories)
			{
				<div class="mx-5 mt-3">
					<div class="fw-bold">@category.Name</div>
					<div class="d-flex flex-column mt-3 lh-base">
						@foreach(var subCategory in category.SubCategories)
						{
							<a href="/products?category=@subCategory.Id" class="text-black">@subCategory.Name</a>
						}
					</div>
				</div>
			}
		</div>
	</div>
	<div class="mt-5">
		<h1 class="fw-bold">ОБИРАЙ ЗА БРЕНДАМИ</h1>
		<div class="d-flex flex-row flex-wrap mt-5">
			@foreach (var brand in Model.Brands)
			{
				<a href="/products?brand=@brand.Id" class="brand-rectangle m-3 d-flex" role="button">
					<img class="m-auto brand-preview-image" src="/images/brandImage/@brand.ImageId" />
				</a>
			}
		</div>
	</div>
	<a href="/products" class="text-black mt-5 mx-auto">Всі товари</a>
	<div class="mt-5 mb-2">
		<h1 class="fw-bold mb-5">ПРО СЕРВІС</h1>
		<p><span class="fw-bold">Ласкаво просимо до Eko Brand</span> - інноваційної української компанії, яка стала синонімом високоякісного модного одягу, взуття, сумок, аксесуарів та прикрас з еко-матеріалів! Наша місія полягає в тому, щоб позитивно змінювати модний світ, пропонуючи стильні та елегантні вироби без жертвування збереженням природи.</p>
		<p><span class="fw-bold">Ми віримо,</span> що мода повинна бути не лише красивою, але й екологічно чистою. Тому наша команда професіоналів уважно відбирає тільки найкращі еко-матеріали для створення нашої колекції. Використовуючи вторинний відновлюваний матеріал, органічні тканини та інші екологічно чисті компоненти, ми досягаємо бездоганного дизайну, який підкреслить вашу індивідуальність, не завдаючи шкоди довкіллю.</p>
		<p><span class="fw-bold">Наш асортимент</span> пропонує різноманітність стилів - від класичних до сучасних, від спортивних до елегантних. І незалежно від того, який стиль ви оберете, можете бути впевнені в якості та дбайливому ставленні до природи, яке ми втілюємо у кожному виробі.</p>
		<p><span class="fw-bold">Наші дизайни</span> - це не лише естетичний захоплюючий досвід, але і внесок у збереження навколишнього середовища. Підтримуючи Eko Brand, ви допомагаєте знижувати вплив текстильної індустрії на природу, сприяючи розвитку сталої моди. За допомогою нашого сервісу ви отримуєте не тільки якісний та екологічний одяг, але й відчуваєте, що стаєте частиною руху до сталого майбутнього. Ми прагнемо зробити зміну на краще разом з вами, надихаючи людей вибирати відповідальну моду, що ніколи не втрачає своєї актуальності.</p>
		<p class="fw-bold">Дякуємо, що обрали Eko Brand. Разом ми створюємо модний світ, в якому краса і природа живуть в гармонії!</p>
	</div>
</div>

@section scripts {
	<script type="text/javascript" src="~/js/aboutUs.js"></script>
}