@{
	ViewBag.RenderHeader = false;
	ViewBag.RenderFooter = false;
}

<div class="m-5">
	<h1 class="fw-bold">ПАНЕЛЬ АДМІНІСТРУВАННЯ САЙТУ</h1>
	<div class="mt-3">
		<div class="fw-bold">Редагування наповнення сайту</div>
		<div class="d-flex flex-column mt-3 lh-base">
			<a href="/brands" class="text-black">Бренди</a>
			<a href="/categories" class="text-black">Категорії</a>
			<a href="/colours" class="text-black">Доступні кольори товарів</a>
			<a href="/sizes" class="text-black">Доступні розміри товарів</a>
			<div class="mt-2 text-muted">Для редагування товару потрібно перейти на сторінку самого товару.</div>
		</div>
	</div>
	<div class="mt-5 border-top">
		<a href="/" class="text-black">На головну</a>
	</div>
</div>