@{
    ViewData["Title"] = "Home Page";
}

<partial name="_CategoryChooser" />

<div class="text-center">
    
</div>

@section scripts {
	<script type="text/javascript" src="~/js/categories.js"></script>
}