<div class="mt-4 mx-2 h-100 d-flex flex-column">
	<div class="d-flex flex-row mx-auto text-white">
		<div id="newProductsBanner" class="tile position-relative top-0 start-0 d-flex" style="background-image:url(/resources/mainpage/image1.png);width:39.72rem;height:24rem;" role="button">
			<div class="gradient w-100 h-100 position-absolute top-0 start-0"></div>
			<div class="mt-auto ms-4 mb-3 tile-content">
				<h3 class="fst-italic">Нові пропозиції </h3><h3 id="currentYear"></h3>
			</div>
		</div>
		<div class="d-flex flex-column">
			<div id="allProductsBanner" class="tile m-2 mt-0 bg-dark position-relative top-0 start-0 d-flex flex-column" style="background-image:url(/resources/mainpage/image2.png);width:29rem;height:12rem;" role="button">
				<div class="gradient w-100 h-100 position-absolute top-0 start-0"></div>
				<img class="ms-4 mt-2" src="/resources/highheel.svg" />
				<div class="mt-1 ms-4 text-wrap w-25 tile-content">
					<span class="fst-italic">Стильні </span>
					<span class="fw-bold">образи</span>
					<span class="fst-italic"> на кожен день</span>
				</div>
			</div>
			<div class="d-flex flex-row">
				<div id="bestProductsBanner" class="tile m-2 my-0 bg-dark position-relative top-0 start-0 d-flex flex-column" style="background-image:url(/resources/mainpage/image3.png);width:11.4rem;height:11.4rem;" role="button">
					<div class="gradient w-100 h-100 position-absolute top-0 start-0"></div>
					<img class="mt-auto mx-auto tile-content" src="/resources/star.svg" />
					<h5 class="mx-auto tile-content text-wrap mb-3">Найкращі товари</h5>
				</div>
				<div id="discountsBanner" class="tile m-2 mt-0 ms-auto bg-dark position-relative top-0 start-0 d-flex flex-column" style="background-image:url(/resources/mainpage/image4.png);width:17rem;height:11.4rem;" role="button">
					<div class="gradient w-100 h-100 position-absolute top-0 start-0"></div>

					<img class="mx-auto mt-auto tile-content" src="/resources/purse.svg" />
					<h5 class="mx-auto mt-1 tile-content mb-3">Найгарячіші знижки</h5>
				</div>
			</div>
		</div>
	</div>

	<h3 class="mx-auto mt-5">Нові пропозиції</h3>
	<h4 class="mx-auto text-muted">Популярні товари за останні 30 днів</h4>
	<div id="lastMonthPopularContainer" class="mt-2 d-flex flex-row justify-content-center flex-wrap"></div>

	<div id="carouselBanner" class="carousel slide my-5 mx-auto" data-bs-ride="false">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner carousel-contents">
			<div class="carousel-item active">
				<div class="d-flex flex-row">
					<img class="carousel-image ms-auto" src="/resources/mainpage/carousel/placeholder.png" />
					<div class="side-text-container text-end text-wrap w-25 d-flex flex-column align-items-end align-self-stretch w-25 me-auto">
						<h2 class="fw-bold">Одягайся у будь-який сезон разом з нами!</h2>
						<a class="btn btn-outline-light mt-5 px-4" href="/products">Всі товари</a>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-flex flex-row">
					<img class="carousel-image ms-auto" src="/resources/mainpage/carousel/ecofriendly.png" />
					<div class="side-text-container text-end text-wrap w-25 d-flex flex-column align-items-end align-self-stretch w-25 me-auto">
						<h2 class="fw-bold">Тільки найкращі еко-товари!</h2>
						<a class="btn btn-outline-light mt-5 px-4" href="/products">До товарів</a>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-flex flex-row">
					<img class="carousel-image ms-auto" src="/resources/mainpage/carousel/rock.png" />
					<div class="side-text-container text-end text-wrap w-25 d-flex flex-column align-items-end align-self-stretch w-25 me-auto">
						<h2 class="fw-bold">Будь-хто знайде щось для себе!</h2>
						<a class="btn btn-outline-light mt-5 px-4" href="/products">Пошук</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="d-flex flex-column">
		<div class="d-flex flex-row flex-wrap justify-content-start ms-4">
			<h2 id="recommendedSearchSelect" class="fw-bold mx-2 text-blob-big" role="button">Рекомендовані</h2>
			<h2 id="newSearchSelect" class="fw-bold mx-2 text-blob-big" role="button">Новинки</h2>
			<h2 id="discountSearchSelect" class="fw-bold mx-2 text-blob-big" role="button">Знижки</h2>
		</div>
		<div id="productTypeSelectContainer" class="d-flex flex-row flex-wrap justify-content-center"></div>
		<a class="text-muted mx-auto" href="/products">Більше товарів...</a>
	</div>
</div>
<div class="d-flex bg-white mt-5">
	<img src="/resources/mainpage/bottombanner.png" class="mx-auto" style="width:68.25rem;height:28.2rem;"/>
</div>

@section scripts {
	<script type="text/javascript" src="~/js/mainPage.js"></script>
}