@model WebApp.ViewModels.Other.ResultWithErrorVM<List<WebApp.Database.Models.Stocks.SizeModel>>
@{
	ViewBag.RenderHeader = false;
	ViewBag.RenderFooter = false;
}

<div class="mt-3 mx-2">
	@if(!string.IsNullOrEmpty(Model.Error))
	{
		<span class="text-danger mb-2">@Model.Error</span>
	}
	<a href="/admin" class="text-black mb-2">Назад</a>
	<form id="confirmationForm" action="#" method="post" enctype="multipart/form-data">
		@Html.AntiForgeryToken()
		<input id="id" name="sizeId" type="hidden" />
		<div id="inputsContainer">
			<div id="sizeInfoInputs" class="input-group">
				<label id="textLabel" for="requestQuery" class="input-group-text">Назва:</label>
				<input id="requestQuery" name="sizeName" type="text" class="form-control">
			</div>

			<input id="confirm" type="submit" value="Підтвердити" class="site-button site-primary-button w-100 mt-2 d-none" />
			<input id="abort" type="button" value="Відмінити" class="site-button site-danger-button w-100 mt-2 d-none" />
		</div>
	</form>
	<div class="mt-2 w-100" id="createButtonContainer">
		<button id="create" class="site-button site-primary-button w-100">Створити</button>
	</div>
	<hr />
	<ul id="sizesList" class="list-group">
		@foreach(var size in Model.Result)
		{
			<li data-myid="@size.Id" class="size-list-element d-flex list-group-item list-group-item-action list-group-item-light">
				<div class="size-name my-auto me-auto">@size.Name</div>
			</li>
		}
	</ul>
</div>

@section scripts {
	<script type="text/javascript" src="~/authorized/admin/js/sizesAdminPage.js"></script>
}