@model WebApp.ViewModels.Other.ResultWithErrorVM<List<WebApp.Database.Models.Brand>>

<div class="my-3 mx-2">
	@if(!string.IsNullOrEmpty(Model.Error))
	{
		<span class="text-danger mb-2">@Model.Error</span>
	}
	<a href="/admin" class="text-black mb-2">Назад</a>
	<form id="confirmationForm" action="#" method="post" enctype="multipart/form-data">
		@Html.AntiForgeryToken()
		<input id="id" name="brandId" type="hidden" />
		<div id="inputsContainer" class="input-group">
			<label id="textLabel" for="requestQuery" class="input-group-text">Name:</label>
			<input id="requestQuery" name="brandName" type="text" class="form-control">

			<input id="confirm" type="submit" value="Confirm" class="btn btn-success d-none" />
			<input id="abort" type="button" value="Abort" class="btn btn-danger d-none" />
		</div>
		<div id="fileInputContainer" class="input-group">
			<label for="brandImage" class="form-label">Кнопка загрузки с очень крутым дизайном</label>
			<input id="brandImage" type="file" name="brandImage" class="d-none" accept="image/*"/>
		</div>
	</form>
	<div class="mt-2 w-100" id="createButtonContainer">
		<button id="create" class="btn btn-success w-100">Create</button>
	</div>
	<hr />
	<ul id="brandsList" class="list-group">
		@foreach(var brand in Model.Result)
		{
			<li data-myid="@brand.Id" class="brand-list-element d-flex list-group-item list-group-item-action list-group-item-light">
				<div class="my-auto me-auto">@brand.Name</div>
			</li>
		}
	</ul>
</div>

@section scripts {
	<script type="text/javascript" src="~/authorized/admin/js/brandsAdminPage.js"></script>
}