<div class="position-relative">
	<div class="d-flex justify-content-between">
		<div id="categoriesToggler" class="link_color" role="button">
			Каталог
		</div>
	</div>
	<div id="categoriesList" class="position-absolute bg-white w-100 d-flex justify-content-start d-none">
		<div id="baseCategories" class="overflow-auto w-25 border-end"></div>
	</div>
</div>