@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>EkoBrend</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	@if (ViewBag.RenderHeader)
	{
		<header>
			<nav class="header navbar navbar-expand-sm navbar-light">
				<div class="container-fluid">
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
						<img id="brand" src="/resources/brand.svg" alt="" width="85" height="63">
					</a>
					<div class="contents collapse navbar-collapse">
						<div class="d-flex flex-row justify-content-between w-100">
							<form method="get" action="/products" id="headerSearchBar" class="flex-grow-1">
								<div class="input-group">
									<input name="query" class="form-control border-0" type="search" placeholder="Я хочу купити на EKO..." aria-label="Search">
									<button class="btn bg-white" type="submit">
										<img id="searchIcon" class="mx-auto my-auto" src="/resources/lookup.svg"/>
									</button>
								</div>
							</form>

							<button id="addProduct" class="btn btn-outline-dark px-5">
								Додати товар
							</button>

							<div id="languageSwitch" class="d-flex flex-row justify-content-start my-auto">
								<span role="button" class="language-blob">UA</span>
								<span class="mx-1 align-self-center">|</span>
								<span role="button" class="language-blob">EN</span>
							</div>

							@if(User.Identity.IsAuthenticated)
							{
								<a href="#" class="my-auto">
									<img id="shoppingCart" src="/resources/shoppingcart.svg"/>
								</a>

								<form method="post" action="/auth/logout" class="my-auto mx-3">
									@Html.AntiForgeryToken()
									<label role="button" for="exitAccountInput">
										<img id="exitAccount" src="/resources/doorexit.svg"/>
									</label>
									<input id="exitAccountInput" type="submit" class="d-none" />
								</form>

								<a href="/account" class="link_color ms-3 me-2 my-auto">
									@User.FindFirstValue(ClaimTypes.Name)
								</a>
							}
							else
							{
								<div class="d-flex flex-row justify-content-start my-auto">
									<a href="/auth/login" class="link_color">Вхід</a>
									<span class="mx-1 align-self-center">/</span>
									<a href="/auth/register" class="link_color">Реєстрація</a>
								</div>
							}
						</div>
					</div>
				</div>
			</nav>
			<div id="categoriesSelector" class="position-relative">
				<div class="d-flex justify-content-around">
					<div id="categoriesToggler" class="link_color prevent-select my-3" role="button">
						Каталог
					</div>
					<a href="/products?sort=views&order=reversed" class="link_color prevent-select my-3">
						Популярне
					</a>
					<a href="/products?sort=date&order=reversed" class="link_color prevent-select my-3">
						Новинки
					</a>
					<a href="/products?sort=discount&order=reversed" class="link_color prevent-select my-3">
						Знижки
					</a>
					<a href="/products?sort=stars&order=reversed" class="link_color prevent-select my-3">
						Високі оцінки
					</a>
				</div>
				<div id="categoriesList" class="position-absolute w-100 d-flex justify-content-start d-none prevent-select" style="z-index:2000">
					<div id="baseCategories" class="overflow-auto w-25 border-end"></div>
				</div>
			</div>
		</header>
	}

	<div class="container-fluid p-0 m-0">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	@if (ViewBag.RenderFooter)
	{
		<footer class="myfooter position-absolute top-100 start-0 container-fluid pb-3 pt-5 px-5">
			<div class="d-flex flex-column">
				<div class="d-flex flex-row justify-content-end text-wrap">
					<div class="d-flex flex-column small-block me-5">
						<a class="link_underline" href="/aboutus">Як це працює?</a>
						<span class="mt-4">Україна, 02121, місто Київ, Харківське шосе, будинок 201-203, літера 4Г</span>
					</div>
					<div class="d-flex flex-column small-block me-5">
						<a class="link_underline" href="#">Політика кофіденційності</a>
						<a class="link_underline mt-4" href="#">Договір-оферта</a>
						<a class="link_underline mt-4" href="#">Контакти</a>
						@if(User.IsInRole("admin"))
						{
							<a href="/admin" class="link_underline mt-4">Адмін панель</a>
						}
					</div>
					<div class="d-flex flex-column small-block">
						<span>Ми у соц. мережах</span>
						<div class="d-flex flex-row mt-4">
							<a href="https://www.facebook.com" class="me-3">
								<img class="social-network" src="/resources/facebook.svg"/>
							</a>
							<a href="https://www.youtube.com" class="me-3">
								<img class="social-network" src="/resources/youtube.svg"/>
							</a>
							<a href="https://www.instagram.com">
								<img class="social-network" src="/resources/instagram.svg"/>
							</a>
						</div>
					</div>
				</div>
				<div class="d-flex flex-row justify-content-start">
					<div class="d-flex flex-column">
						<img id="brand" class="mt-5" src="/resources/brandwhite.svg"/>
						<span class="mt-3">Речі за кліком серця. Всі права захищені</span>
						<span>&copy; 2023 Ekobrand.ua</span>
					</div>
				</div>
			</div>
		</footer>
	}

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/header.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
