@{
    ViewBag.RenderHeader = false;
    ViewBag.RenderFooter = false;
}

<div class="m-3 d-flex flex-column">
    <h3 class="text-danger fw-bold mx-auto">Фатальна помилка виконання вашого запиту.</h3>
    <p class="mx-auto">Спробуйте видалити файли cookie цього сайту у вашому браузері та перезавантажте сторінку.</p>
</div>