@model WebApp.ViewModels.Account.AccountPageVM

<div class="d-flex flex-row justify-content-between m-3">
	<div>
		<h4>Особиста інформація</h4>
		<div class="lh-1">
			<div class="ms-2">@Model.Name</div>
			<div class="ms-2">@Model.Email</div>
		</div>

		<h4 class="mt-5">Останні переглянуті товари за 24 години</h4>
		<div class="d-flex flex-row justify-content-center flex-wrap">
			<partial name="~/Views/Products/_ProductSearchPreview.cshtml" model="Model.RecentlyViewedProducts"/>
		</div>
	</div>
	<div class="lh-sm prevent-select">
		<p>Сторінка мого акаунта</p>
		<p>
			<a href="/account/products" class="link_color">Мої продукти</a>
		</p>
	</div>
</div>