@model WebApp.ViewModels.Auth.PasswordResetVM

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<center>
		<b>Відновлення пароля</b>
	</center>
	@if (Model.ReturnUrl == null)
	{
		<p>
			Перейдіть за <a href="@Model.SiteBaseAddress/auth/reset/newpassword?token=@Model.Token&user=@Model.UserId">посиланням</a> для того, щоб перейти на сторінку відновлення пароля.
		</p>
	}
	else
	{
		<p>
			Перейдіть за <a href="@Model.SiteBaseAddress/auth/reset/newpassword?token=@Model.Token&user=@Model.UserId&return=@Model.ReturnUrl">посиланням</a> для того, щоб перейти на сторінку відновлення пароля.
		</p>
	}
</body>
</html>