@model WebApp.ViewModels.Auth.LoginVM
@{
	ViewBag.RenderHeader = false;
	ViewBag.RenderFooter = false;
}

<div class="d-flex" style="line-height:0.8;">
	<img src="/resources/womanongrass.png" class="h-100" style="width:37.5%;"/>
	<div class="d-flex flex-column flex-fill">
		<img src="/resources/brandbig.svg" class="mx-auto mt-auto" style="width:180px;height:133px;"/>
		<span class="mx-auto" style="color:rgba(33, 37, 23, 1);">Вхід до існуючого акаунта</span>
		<div class="d-flex my-4 mx-auto">
			<h4 class="prevent-select me-4">Вхід</h4>
			@if(Model.ReturnUrl != null)
			{
				<a href="/auth/register?return=@Model.ReturnUrl" class="prevent-select link_color">
					<h4>Реєстрація</h4>
				</a>
			}
			else
			{
				<a href="/auth/register" class="prevent-select link_color">
					<h4>Реєстрація</h4>
				</a>
			}
		</div>
		<form method="post" action="/auth/login" class="d-flex flex-column pb-3 mb-auto mx-auto styled-inputs">
			@Html.AntiForgeryToken()
			@if(Model.ReturnUrl != null)
			{
				<input type="hidden" asp-for=ReturnUrl />
			}
			<div class="d-flex flex-column">
				<div class="d-flex">
					<label for="logininput" class="me-auto pe-3 my-auto">
						Логін
					</label>
					<input id="logininput" asp-for=UserName placeholder="Введіть ім'я" class="form-control" style="width:20rem;height:3rem;" />
				</div>
				<span class="text-danger mt-1" asp-validation-for=UserName></span>
			</div>
			<div class="d-flex flex-column">
				<div class="d-flex mt-3">
					<label for="passwordinput" class="me-auto pe-3 my-auto">
						Пароль
					</label>
					<input id="passwordinput" asp-for=Password placeholder="Введіть пароль" class="form-control" style="width:20rem;height:3rem;" />
				</div>
				<span class="text-danger mt-1" asp-validation-for=Password></span>
			</div>
			@if(Model.ReturnUrl != null)
			{
				<a href="/auth/reset/password?return=@Model.ReturnUrl" class="mt-4 mx-auto link_color">Забули пароль?</a>
			}
			else
			{
				<a href="/auth/reset/password" class="mt-4 mx-auto link_color">Забули пароль?</a>
			}
			<button type="submit" class=" mt-5 btn btn-outline-dark" style="border-radius:1.1rem;">Увійти</button>
		</form>
	</div>
</div>