@media(max-width: 1920px){
	html {
		font-size: 20px;
	}
}

@media(max-width: 1280px) {
	html {
		font-size: 16px;
	}
}

@media(max-width: 640px) {
	html {
		font-size: 12px;
	}
}

@font-face {
	font-family: Gilroy;
	src: url(/resources/gilroy.ttf);
}

html {
	position: relative;
	min-height: 100%;
}

body {
	line-height: 1.6;
	font-family: Gilroy, sans-serif;
	font-size: 1.3rem;
	color: #444;
	background: rgba(242, 242, 239, 1);
}

.link_color {
	color: #000000 !important;

	text-decoration: none;
	transition: color 0.3s ease;
}

.link_color:hover {
	color: #759242 !important;
}

.link_underline {
	color: #ffffff !important;
	text-decoration:none;
}

.link_underline:hover {
	text-decoration:underline;
}

.language-blob {
	font-size: 1rem;
	border-radius: 0.6rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	transition: color 0.3s ease;
	transition: background 0.3s ease;
}

.language-blob:hover {
	color:#ffffff;
	background:#000000;
}

.text-blob-big {
	font-size: 1.5rem;
	border-radius: 0.8rem;
	padding-left: 0.9rem;
	padding-right: 0.9rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	transition: color 0.3s ease;
	transition: background 0.3s ease;
}

.text-blob-big:hover {
	color: #ffffff;
	background: #000000;
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.header {
	background: #DED3A6;

	padding-top:2.2rem;
	padding-left:0.5rem;
}

.header .contents {
	margin-left: 2.8rem;
	margin-top: 0.2rem;
}

.header form input {
	border-radius: 1.3rem;
	height: 3.2rem;
}

.header button {
	border-radius: 1.3rem;
	height: 3.2rem;
}

.header #addProduct {
	border-radius: 1.1rem;
	margin-left: 2.1rem;
}

.header #searchIcon {
	width: 1.9rem;
	height: 1.9rem;
}

.header #brand {
	width: 4.25rem;
	height: 3.15rem;
	margin-left: 0.3rem;
}

.header #languageSwitch {
	border-radius: 1.2rem;
	margin-left: 1.2rem;
	margin-right: 1.5rem;
}

.header #shoppingCart {
	height:1.5rem;
	width:1.5rem;

	margin-left:3.5rem;
}

.header #exitAccount {
	height: 1.5rem;
	width: 1.5rem;
}

#categoriesSelector {
	background: #DED3A6;
}

#categoriesList {
	background: #F2F2EF;
}

.myfooter {
	font-size: 0.8rem;
	background: #212517;
	line-height: 1;
}

.myfooter span {
	color: #ffffff;
}

.myfooter #brand {
	width: 4.25rem;
	height: 3.15rem;
}

.small-block {
	width:10rem;
}

.social-network {
	height: 2.5rem;
	width: 2.5rem;
}

#showSearch {
	width: 3rem;
	height: 3.2rem;
}

#searchInputsContainer {
	background: #F2F2EF;
}

.btn-outline-dark:hover {
	background: #374709 !important;
}

.gallery {
	background: #A0A0A0;
}

.search-bar {
	width: 25rem;
}

.brand-rectangle {
	width:200px;
	height:200px;

	border:solid #000000;
	border-width: 1px;
	border-radius: 4.25rem;
}

.brand-rectangle:hover {
	border:dashed #000000;
}

.radio-select + label {
	background: #ffffff;
	border: 2px solid #f0f0f0;
	transition: border 0.3s ease;
}

.radio-select:hover + label {
	background: #e0e0e0;
}

.radio-select:checked + label {
	border:2px solid #0280ff;
}

.product-preview-long-info {
	display: none;
}

.product-preview:hover .product-preview-long-info {
	display:block;
}

.image-container {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

.tile {
	border-radius: 2rem;
	background-size: 103% 103%;
	background-repeat: no-repeat;
	background-position: center;
}

.tile .gradient {
	z-index: 1000;

	opacity: 0;
	background: linear-gradient(to top, rgba(64, 93, 42, 1), rgba(64, 93, 42, 0));

	border-radius: 2rem;
	transition: opacity 0.4s ease;
}

.tile .tile-content {
	z-index: 1001;
}

.tile:hover .gradient {
	opacity: 0.99;
}

.tile img {
	width: 2.3rem;
	height: 2.3rem;
}

.carousel-contents .side-text-container {
	color: #ffffff;
	background: #282828;

	padding: 2rem;
}

.site-button {
	background: gray;
	color: white;

	border: none;
	border-radius: 0.3rem;

	padding-right: 1rem;
	padding-left: 1rem;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	font-size:0.9rem;
	transition: background 0.3s ease;
}

.site-button:hover {
	background: rgba(33, 37, 23, 1);
}

.site-primary-button {
	background: rgba(66, 87, 8, 1);
}
.site-warning-button {
	background: rgba(176, 132, 12, 1);
}
.site-danger-button {
	background: rgba(140, 13, 23, 1);
}
.site-secondary-button {
	background: rgba(112, 112, 112, 1);
}

.styled-inputs label {
	font-weight: bold;
	color: rgba(33, 37, 23, 1);
}

.styled-inputs select,
.styled-inputs textarea,
.styled-inputs input,
.styled-inputs textarea::placeholder,
.styled-inputs input::placeholder,
.styled-inputs input:focus,
.styled-inputs textarea:focus,
.styled-inputs select:focus {
	color: rgba(117, 146, 66, 1);
	background: rgba(238, 239, 207, 1);
}

.styled-inputs input[type="submit"] {
	color: white;
}

.styled-inputs input[type="button"] {
	color: white;
}

.styled-inputs input[type="checkbox"] {
	width: 1.2rem;
	height: 1.2rem;
}

.image-preview-border {
	border: 2px dotted black;
	border-radius: 0.3rem;
}

.image-preview-border img {
	border-radius: 0.3rem;
}